@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    scroll-behavior: smooth;
}

.container {
    position: relative;
}

/* Navigation bar */

.header {
    background-color: rgba(255, 255, 255, 0.795);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.048);
    transition: 1s;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menu {
    display: flex;
    margin-left: 20px;
    padding: 10px 0;
    align-items: right;
}

.links {
    display: flex;
    column-gap: 15px;
}

.links a {
    text-decoration: none;
    color: black;
    font-family: Work Sans;
    font-size: 19px;
    transition: 0.2s;
}

.links a:hover {
    color: rgba(255, 0, 0, 0.6);
    transition: 0.2s;
}

.logo {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0px 30px;
}

.logo img {
    width: 60px;
    justify-content: left;
    transition: 0.5s;
}

.logo span {
    font-size: 24px;
    font-family: Work Sans;
    font-weight: bold;
    margin-left: 10px;
    justify-content: center;
    transition: 0.5s;
}


/* Home */

.home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgb(254, 255, 243);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes site-tab-animation {
    0% {transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes site-bat-animation {
    0% {transform: translateY(-20px); opacity: 1;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes site-zoom-animation {
    0% {transform:scale(90%); opacity: 1;}
    100% {transform:scale(100%); opacity: 1;}
}

@keyframes lr {
    0% {transform:translateX(-100px); opacity: 1;}
    100% {transform:translateX(0px); opacity: 1;}
}


/* heading card */

.heading {
    display: grid;
    grid-template-areas:
    "name"
    "bio";
    background: rgb(255, 249, 215);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 24px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.123);
    margin: 220px 20px 30px 20px;
    animation: site-zoom-animation 1s forwards;
    padding: 5px 65px 20px 20px;
    transition: 0.2s;
}

.name {
    grid-area: name;
    padding: px 10px;
    animation: site-tab-animation 0.5s ease;
    font-family: Open sans;
    font-size: 60px;
    font-weight:700;
    color: rgb(255, 60, 0);
    padding-right: 90px;
    z-index: 2;
    margin-bottom: 2px;
    transition: 0.2s;
}

.bio {
    display: flexbox;
    align-items: center;
    justify-content: center;
    grid-area: bio;
    border-radius: 20px;
    width: auto;
    animation: site-tab-animation 0.7s ease;
    font-family: Noto Sans Sinhala;
    font-size: 25px;
    font-weight:300;
    color: rgb(255, 115, 0);
    padding-right: 10px;
    z-index: 2;
    margin-top: -5px;
    transition: 0.2s;
    max-width: 900px;
}

.heading img {
    position: absolute;
    width: 304px;
    height: 304px;
    right: 15px;
    bottom: 15px;
    opacity: 10%;
    z-index: 1;
    border-radius: 24px;
    transition: 0.2s;
}

.cpy {
    margin-top: 40px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    font-family: Open Sans;
    margin-right: 70px;
}

.heading button {
    font-family: Noto Sans Sinhala;
    font-size: 25px;
    text-align: center;
    font-style: normal;
    color: rgb(255, 245, 232);
    font-weight: lighter;
    transition: 0.2s;
}

.heading button {
    border: none;
    padding: 5px 10px;
    background: rgb(255, 174, 67);
    border-radius: 15px;
    cursor: pointer;
    font-weight: normal;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
}

.heading button:hover {
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    color: white;
    background: rgb(255, 94, 0);
    transition:0.2s;
}

.h-buttons {
    display: flex;
    justify-content: center;
    padding-right: 0px;
    margin-right: 90px;
    animation: site-bat-animation 0.6s forwards;
    z-index: 2;
    transition: 0.2s;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    font-size: 20px;
    max-width: 500px;
    }
    

.update {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    animation: site-tab-animation 0.5s forwards;
    font-family: Noto Sans Sinhala;
    margin: 30px 20px 200px 20px;
    transition: 1s;

    background: rgb(255, 254, 178);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 24px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.123);
    animation: site-zoom-animation 1s forwards;

    gap: 30px;

    max-width: 1000px;
}

.update img {
    position: absolute;
    width: 290px;
    height: 290px;
    right: 15px;
    bottom: 15px;
    opacity: 20%;
    z-index: 1;
    border-radius: 25px;
    transition: 0.2s;
}

.cmt {
    animation: site-zoom-animation 1s forwards;
    padding: 10px;
    z-index: 2;
}

.c-heading {
    background: rgb(255, 217, 78);
    border-radius: 15px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.123);
    animation: site-zoom-animation 1s forwards;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.c-heading span {
    text-align: center;
    color: black;
    animation: site-zoom-animation 1s forwards;
    font-family: Work Sans;
    transition: 1s;
}

.c-name {
    background: rgba(255, 220, 93, 0.781);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.123);
    animation: site-zoom-animation 1s forwards;
    padding: 2px;
    padding-left: 5px;
    font-family: Noto Sans Sinhala;
    font-weight: bold;
    font-size: 15px;
    transition: 1s;
    max-width: fit-content;
}

.c-cntnt {
    background: rgba(255, 223, 108, 0.712);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.123);
    animation: site-zoom-animation 1s forwards;
    padding: 5px;
    font-size: 15px;
    transition: 1s;
}

.update p, .update a {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 10px;
    animation: site-zoom-animation 1s forwards;
    font-family: Noto Sans Sinhala;
    font-size: 15px;
    margin: 5px;
    transition: 1s;
    text-align: left;
}

.c-refresh {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    border-radius: 15px;
    animation: site-zoom-animation 1s forwards;
    padding: 2px;
    padding-left: 5px;
    font-family: Noto Sans Sinhala;
    font-weight: 300;
    font-size: 15px;
    transition: 1s;
    z-index: 2;
    color: rgba(0, 0, 0, 0.5);
}

.c-refresh button {
    border: none;
    padding: 5px 10px;
    background: rgb(255, 174, 67);
    color: rgb(255, 244, 194);
    border-radius: 10px;
    cursor: pointer;
    font-weight: normal;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    transition: 1s;
}

.c-refresh button:hover {
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
    color: white;
    background: rgb(255, 94, 0);
    transition:0.2s;
}

/*other*/

@media screen and (max-width: 786px) {


    .name {
        font-size: 45px;
    }

    .bio {
        font-size: 22px;
    }

    ul {
        font-size: 18px;
    }

    .heading svg {
        width: 265px;
        height: 265px;
    }

    .heading button{
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
    }


}

@media  (max-width: 646px) {

    .name {
        text-align: left;
        font-size: 45px;
        margin: 0px;
        padding: 0px;
    }

    .bio {
        font-size: 22px;
        padding: 0px;
    }

    ul {
        font-size: 18px;
    }

    .heading svg {
        width: 253px;
        height: 253px;
    }

    .heading button{
        font-size: 20px;
        align-items: center;

    }

    .h-buttons {
        margin: 0px;
    }

    .cpy {
        margin-right: 0;
    }
    
}

@media  (max-width: 537px) {

    .name {
        text-align: left;
        font-size: 30px;
        margin: 0px;
        padding: 0px;
        gap: -10px;
    }

    .bio {
        text-align: left;
        font-size: 18px;
        padding: 0px;
        justify-content: left;
        margin-left: 5px;
        margin-top: 10px;
    }

    ul {
        font-size: 15px;
    }

    .cpy {
        font-size: 18px;
    }

    .heading img {
        width: 329px;
        height: 329px;
    }

    .heading button{
        font-size: 18px;
        align-items: center;

    }

    .h-buttons {
        margin: 0px;
        justify-content: left;
    }

    .cpy {
        margin-right: 0;
    }

}

@media screen and (max-width: 480px) {
    .heading button {
        font-size: 13px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 358px) {

    .heading img {
        height: 240px;
        width: 240px;
    }

    .update img {
        height: 240px;
        width: 240px; 
    }

    .name {
        font-size: 28px;
    }

    .bio {
        font-size: 15px;
    }

    ul {
        font-size: 12px;
    }

    .cpy {
        font-size: 15px;
    }

    .logo span {
        font-size: 15px;
        transition: 0.5s;
    }

    .logo img {
        width: 40px;
        transition: 0.5s;
    }

    .heading button {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
        margin-top: 5px;
    }

    .h-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }
}

@media screen and (max-width: 292px) {
    .c-cntnt {
        border-radius: 0px 0px 15px 15px;
    }

    .update {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }
    .heading {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 0px;
    }

}

/* Footer */

@keyframes down-up {
    0% {transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes scaley {
    0% {transform:translateY(50px);}
    100% {transform:translateY(0px);}
}

@keyframes up-down {
    0% {transform: translateY(-50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes left-right {
    0% {transform: translateX(-50px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 1;}
}

.footer {
    background-color: rgba(255, 255, 255, 0.795);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px -8px 12px 0px rgba(0, 0, 0, 0.048);
    animation: scaley 1s forwards;
}

.footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.social-links {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 15px;
    padding: 10px 0;
    animation: down-up 1s forwards;
}

.social-links i {
    transition: 1s;
}

.social-links i:hover, .email a:hover {
    color: rgba(0, 4, 255, 0.6);
    transition: 0.2s;
}

.email {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    animation: down-up 0.5s forwards;
}

.email a {
    text-decoration: none;
    color: black;
    font-family: Work Sans;
    font-size: 15px;
    transition: 0.2s;
}


.copyright {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    animation: up-down 0.7s forwards;
}

.copyright span {
    font-family: Work Sans;
    font-size: 19px;
}

.copyright a {
    font-family: Work Sans;
    font-size: 19px;
    text-decoration: underline;
}

.copyright a img {
    width: 30px;
    border-radius: 5px;
}


@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
    }
    .copyright {
        margin-right: auto;
        margin-top: 10px;
    }
    .social-links, .email {
        display: none;
    }
    .copyright a, .copyright span{
        font-size: 15px;
    }
    .copyright {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .links {
        display: none;
    }
}

@keyframes opacy {
    0% {transform:rotate(-90deg); opacity: 0;}
    100% {transform: translateY(0deg); opacity: 1;}
}

.ham {
    display: none;
    flex-direction: column;
    row-gap: 4px;
    cursor: pointer;
    animation: opacy 1s forwards;
}

.ham div {
    height: 2px;
    width: 18px;
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 700px) {
    .ham {
        display: flex;
    }
}
